// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
@import url('https://fonts.googleapis.com/css2?family=Hanuman&display=swap');
$font-family: 'Hanuman', cursive;

.v-application {
  [class*='text-'] {
    font-family: $font-family  !important;
  }

  font-family: $font-family  !important;
}

@media (min-width: 100px) {
  .maintitleSize {
    font-size: 45px;
    font-weight: 700;
  }

  .titleSize {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  .subtitleSize {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 150%;
  }

  .textSize {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
  }
}

@media (min-width: 500px) {
  .maintitleSize {
    font-size: 60px;
    font-weight: 700;
  }

  .titleSize {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }

  .subtitleSize {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 150%;
  }

  .textSize {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
  }
}

.v-btn.v-size--default {
  font-size: 15px;
}